*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(75, 74, 74);
}

.container{
    max-width: 500px;
    padding: 6px;
    border-radius: 21px;
    border: 2px solid rgb(95, 86, 86);
    /* background: transparent; */
    background-color: rgb(43, 38, 38);
}

.container #display{
    width: 440px;
    padding: 6px 12px;
    margin: 9px 24px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: right;
    outline: none;
    border: none;
    border: 2px solid rgb(95, 86, 86);
    border-radius: 21px;
    background: transparent;
    /* background-color: rgba(10, 8, 8, 0.637); */
}

.container .buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 9px;
    padding: 20px 9px;
    margin-left: 27px;
}

.container .buttons button{
    width: 80px;
    height: 80px;
    border: none;
    margin-top: 12px;
    border-radius: 50px;
    background-color: rgba(88, 85, 85, 0.637);
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: -3px -3px 18px rgb(255, 255, 255,.3);
}

.container .buttons button:hover{
    background-color: rgb(102, 98, 98);
}

.container .buttons .operator{
    color: rgb(255, 145, 0);
    font-size: 2.5rem;
}
.container .buttons .equals{
    grid-column-start: 3;
    grid-column-end: 5;
    width: 210px;
    background-color: rgb(228, 154, 18);
}

.container .buttons .equals:hover{
    background-color: rgb(240, 182, 75);
}